

html{
    background-color: #f06060;
}

.date{
    left :50%;
    width:250px;
    height:50px;
    margin-left : -125px;
    background-color:#6495ED;
    position:fixed;
    z-index:10;
    font-size:40px;
    text-align:center;
}


#top {
    margin-top:10px;
    width: 100%;
    height: auto;
}
#top:after {
    content: '';
    display:block;
    clear:both;
}

#moveLeft{
    position: fixed;
    top: 50%;
    left: 20px;
    width: 100px;
    height: 100px;
    height: 100px;
    margin-top: -50px;
    line-height: 100px;
    text-align:right;
}
#mid{
    width: 600px;
    margin: 0 auto;
}
#moveRight{
    position: fixed;
    top: 50%;
    right: 20px;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    line-height: 100px;
    text-align:left;
}

#topButton{
    top: 7%;
    left : 20px;
    position: fixed;
    z-index: 2;
}

#introduce li{
    float:left;
    list-style:none;
    margin-left:20px;
    margin-bottom: 100px;
}

#introduce li a{
    text-decoration: none;
    color: black;
}
