
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: gray;
    overflow: hidden;

}

#logo{
    background-image:url("../images/logo.png"); 
    width:480px;
    height:100px;
    margin-left:-240px;
    top:50px;;
    left:70%;
    position:fixed;
}
#slogan{
    width:480px;
    margin-left:-240px;
    top:40px;
    left:70%;
    position:fixed;
}

#id_email{
    margin:20px;
    width: 250px;
    height: 40px;
    border: 2px gray;
    border-radius: 5px;
}

#id_password{
    width: 250px;
    height: 40px;
    border: 2px gray;
    border-radius: 5px;
    
}

#loginButton{
    margin-top:10px;
    font-size:20px;
    color:#5a5a5a;
    width: 250px;
    height: 40px;
    border: 2px gray;
    border-radius: 5px;
    background-color:#70d0be;
    cursor:pointer;
}

#signUp{
    width:300px;
    color:#2e2e2e;
    margin-top:5px;
    font-size:12px;
    text-align:right;
}
#signUp a{
    margin-right:29px;
    font-size:12px;
    font-weight:bold;
    color:#5a5a5a;
}

.alert{
    color : #ee3838;
    font-size:15px;
    height:30px;
    font-weight:bold;
}

.sectionBox{
    border-radius: 5px;
    display: block;
    position: fixed;
    font-size: 20px;

    left: 70%;
    top: 300px;
    width: 300px;
    height: 250px;
    margin-left: -150px;
    margin-top: -125px;
    z-index:10;
        
}

.insertBox{
    border-radius: 5px;
    background-color: #f06060;
    width: 300px;
    height: 240px;
}


#introduce ul li{
    width:0px;
    height:400px;
    float:left;
    display:list-item;
    overflow:hidden;
    
    margin:0;
    padding:0;
}

#introduce ul{
    display:block;
    position:absolute;
    overflow:hidden;
    
    width:0px;
    height:400px;
    line-height:400px;
    
    top:0px;
    margin-left:-1000px;
    margin:0;
    padding:0;
    animation:mymove 5s infinite;
    -webkit-animation:mymove 10s infinite; /* Safari and Chrome */
}
@keyframes mymove {
from {left:0px;}
to {left:-2000px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {left:0px;}
to {left:-2000px;}
}

#introduce{
    top:80px;
    
    overflow:hidden;
    position:relative;
    width:100%;
    height:400px;
    display:block;
    margin:100px auto;
    background-color:white;
    opacity:0.5;
}