<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DailySnap</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" >
</head>

<body>
<div class="bg"></div>
<div class="box">
    <section class="sectionBox">
            <header>
                <h1 id="logo">DailySnap</h1>
            </header>

            <div class="insertBox">
                <form method="POST" id="login-form" action="{{url_for('users.login')}}">
                    <table>
                        <tr>
                            <td><label for="id_email">e-mail : </label></td>
                            <td><input name="email" maxlength="30" type="text" id="id_email"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password">password : </label></td>
                            <td><input type="password" name="password" id="id_password"></td>
                        </tr>
                    </table>
                    <p class="form-actions">
                        <input type="submit" class="login" value="Log In">
                        <a href="/users/signUp" id="signUp">or DailySnap에 등록하기</a>
                    </p>
                </form>
            </div>
    </section>
</div>

</body>
</html>